{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | Admin Panel{% endblock %}

{% block body %}
    <div class="toprow">

    </div>
    <div class="row">
        {% if error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ error|safe }}</div>
        {% endif %}
    </div>
    <div class="row">

        <div class="span4">
            <h3 style="color:#f1db01;">Yellow List</h3>
            {% if yellow_list %}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Add extension to</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in yellow_list %}
                <tr>
                    <td>{{ obj.email }}</td>
                    <td>
                        <a href="{% url abadmin_add_to_greenlist object_id=obj.id %}" class="btn btn-success">Green</a>
                        <a href="{% url abadmin_add_to_redlist object_id=obj.id %}" class="btn btn-danger">Red</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="lead">No new emails in yellow list</p>
        {% endif %}
        </div>

        <div class="span4">
            <h3 style="color:#5bc447;">Green List</h3>
            {% if green_list %}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Extension</th>
                    <th>Move to</th>
                </tr>
                </thead>
                <tbody>
                    {% for obj in green_list %}
                <tr>
                    <td>{{ obj.extension }}</td>
                    <td><a href="{% url abadmin_greenlist_to_redlist object_id=obj.id %}" class="btn btn-danger">Red</a></td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
                {% else %}
                <p class="lead">Green list is empty</p>
        {% endif %}
        </div>

        <div class="span4">
            <h3 style="color:#db3e05;">Red List</h3>
        {% if red_list %}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Extension</th>
                    <th>Move to</th>
                </tr>
                </thead>
                <tbody>
                    {% for obj in red_list %}
                <tr>
                    <td>{{ obj.extension }}</td>
                    <td><a href="{% url abadmin_redlist_to_greenlist object_id=obj.id %}" class="btn btn-success">Green</a></td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="lead">Red list is empty</p>
        {% endif %}
        </div>

    </div>
{% endblock %}

{% block extrascript %}

{% endblock %}

{% block extrastyle %}

{% endblock %}


{% block extramodal %}


{% endblock %}
