{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | Admin Panel{% endblock %}

{% block body %}
    <div class="toprow">

    </div>
    <div class="row">
        {% if error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ error|safe }}</div>
        {% endif %}
    </div>
    <div class="row">
        <div class="span12">
            <h4><i class="icon-envelope icon-large"></i> Email based Verification Requests</h4>
        {% if objects %}
            <table class="table table-bordered table-striped">

                <thead>
                <tr>
                    <th>Email/Username</th>
                    <th>Student Email</th>
                    <th>University/Institute</th>
                    <th>Passing Out</th>
                    <th>Approve/Reject</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in objects %}
                    <tr>
                        <td>{{ obj.user.username }}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.college }}</td>
                        <td>{{ obj.month_of_passing }} {{ obj.year_of_passing }}</td>
                        <td><a title="Approve" href="{% url abadmin_approve_student_email object_id=obj.id %}" class="btn btn-success"><i
                                class="icon-ok"></i></a>
                            <a title="Reject" href="{% url abadmin_reject_student_email object_id=obj.id %}"
                               class="btn btn-danger"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="lead">
                No verification requests pending.
            </p>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block extrastyle %}
    <style type="text/css">
        #rejectForm {
            margin: 0;
        }
    </style>
{% endblock %}

{% block extrascript %}
{#    <script type="text/javascript">#}
{#        $(document).ready(function () {#}
{#            $('.rejectBtn').bind('click', function (e) {#}
{#                $('#rejectForm').attr('action', $(this).attr('data-action-href'));#}
{#                $('#rejectBox h3 span').text($(this).attr('data-from'));#}
{#            });#}
{#        });#}
{#    </script>#}
{% endblock %}

{% block extramodal %}
{#    <div id="rejectBox" class="modal hide">#}
{#        <div class="modal-header">#}
{#            <button type="button" class="close" data-dismiss="modal">×</button>#}
{#            <h3>Reject Verification Request from <span style="color:red;"></span></h3>#}
{#        </div>#}
{#        <form id="rejectForm" action="" method="post">{% csrf_token %}#}
{#            <div class="modal-body pagination-centered">#}
{#                <textarea rows="5" style="width:85%;" name="comment"#}
{#                          placeholder="State the reason for disapproval"></textarea>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button class="btn btn-danger" type="submit">Reject <i class="icon-remove"></i></button>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{% endblock %}
