{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | Admin Panel{% endblock %}

{% block body %}
    <div class="toprow">

    </div>
    <div class="row">
        {% if error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ error|safe }}</div>
        {% endif %}
    </div>
    <div class="row">
        <h1>This page will be replaced with admin home page soon</h1>
    </div>
{% endblock %}

{% block extrascript %}

{% endblock %}

{% block extrastyle %}

{% endblock %}


{% block extramodal %}


{% endblock %}