{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | Admin Panel{% endblock %}

{% block body %}
    <div class="toprow">

    </div>
    <div class="row">
        {% if error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ error|safe }}</div>
        {% endif %}
    </div>
    <div class="row">
        <div class="span12">
            <h4><i class="icon-credit-card icon-large"></i> ID based Verification Requests</h4>
            {% if objects %}
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Email/Username</th>
                        <th>Student ID card</th>
                        <th>Govt. Issued ID card</th>
                        <th>University/Institute</th>
                        <th>Passing Out</th>
                        <th>Approve/Reject</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in objects %}
                        <tr>
                            <td>{{ obj.user.username }}</td>
                            <td><a href="{{ obj.college_id_card.url }}" rel="lightbox[{{ obj.id }}]"
                                   title="Student ID card">Student ID card</a></td>
                            <td><a href="{{ obj.other_id_document.url }}" rel="lightbox[{{ obj.id }}]"
                                   title="Govt. Issued ID card">Govt. Issued ID card</a></td>
                            <td>{{ obj.college }}</td>
                            <td>{{ obj.month_of_passing }} {{ obj.year_of_passing }}</td>
                            <td><a title="Approve" href="{% url abadmin_approve_idcard object_id=obj.id %}" class="btn btn-success"><i
                                    class="icon-ok"></i></a>
                                <a title="Reject" href="#rejectBox" data-toggle="modal" data-dismiss="modal"
                                   data-from="{{ obj.user.username }}"
                                   data-action-href="{% url abadmin_reject_idcard object_id=obj.id %}"
                                   class="btn btn-danger rejectBtn"><i class="icon-remove"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="lead">
                    No verification requests pending.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        window.LB_fileLoadingImage = '{{ STATIC_URL }}img/lightbox/loading.gif';
        window.LB_fileCloseImage = '{{ STATIC_URL }}img/lightbox/close.png';
        $(document).ready(function () {
            $('.rejectBtn').bind('click', function (e) {
                $('#rejectForm').attr('action', $(this).attr('data-action-href'));
                $('#rejectBox h3 span').text($(this).attr('data-from'));
            });
        });
    </script>
    <script src="{{ STATIC_URL }}js/lightbox.js"></script>
{% endblock %}

{% block extrastyle %}
    <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet"/>
    <style type="text/css">
        #rejectForm {
            margin: 0;
        }
    </style>
{% endblock %}
{% block extramodal %}
    <div id="rejectBox" class="modal hide">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Reject Verification Request from <span style="color:red;"></span></h3>
        </div>
        <form id="rejectForm" action="" method="post">{% csrf_token %}
            <div class="modal-body pagination-centered">
                <textarea rows="5" style="width:85%;" name="comment"
                          placeholder="State the reason for disapproval"></textarea>
              <p class="help-block">Max Chars 500</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Reject <i class="icon-remove"></i></button>
            </div>
        </form>
    </div>
{% endblock %}
