{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | Admin Panel{% endblock %}

{% block body %}
    <div class="toprow">

    </div>
    <div class="row">
        {% if error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ error|safe }}</div>
        {% endif %}
    </div>
    <div class="row">
        <div class="span12">
            <h4><i class="icon-remove icon-large"></i>
                Rejected Verification Requests</h4>
            {% if objects %}
                <table class="table table-bordered table-striped">

                    <thead>
                    <tr>
                        <th>Email/Username</th>
                        <th>Student ID card</th>
                        <th>Govt. Issued ID card</th>
                        <th>University/Institute</th>
                        <th>Passing Out</th>
                        <th>Reason for rejection</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in objects %}
                        <tr>
                            <td>{{ obj.user.username }}</td>
                            <td><a href="{{ obj.college_id_card.url }}" rel="lightbox[{{ obj.id }}]"
                                   title="Student ID card">Student ID card</a></td>
                            <td><a href="{{ obj.other_id_document.url }}" rel="lightbox[{{ obj.id }}]"
                                   title="Govt. Issued ID card">Govt. Issued ID card</a></td>
                            <td>{{ obj.college }}</td>
                            <td>{{ obj.month_of_passing }} {{ obj.year_of_passing }}</td>
                            <td>{{ obj.comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="lead">
                    No verification requests in rejected list.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        window.LB_fileLoadingImage = '{{ STATIC_URL }}img/lightbox/loading.gif';
        window.LB_fileCloseImage = '{{ STATIC_URL }}img/lightbox/close.png';
    </script>
    <script src="{{ STATIC_URL }}js/lightbox.js"></script>
{% endblock %}

{% block extrastyle %}
    <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet"/>
{% endblock %}


{% block extramodal %}


{% endblock %}
