{% extends 'base_admin.html' %}

{% block pagetitle %}AbCent Sir | Admin Panel{% endblock %}

{% block body %}
    <div class="toprow">

    </div>
    <div class="row">
        {% if error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ error|safe }}</div>
        {% endif %}
    </div>
    <div class="row">
        <div class="span12">
            <h4>Admin Users List</h4>
                <table class="table table-bordered table-striped">

                    <thead>
                    <tr>
                        <th>Email/Username</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}{{ user.last_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        window.LB_fileLoadingImage = '{{ STATIC_URL }}img/lightbox/loading.gif';
        window.LB_fileCloseImage = '{{ STATIC_URL }}img/lightbox/close.png';
    </script>
    <script src="{{ STATIC_URL }}js/lightbox.js"></script>
{% endblock %}

{% block extrastyle %}
    <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet"/>
{% endblock %}


{% block extramodal %}


{% endblock %}
