
.mainBody {
	margin-top:80px;
}
#message .success {
.alert-success;
}
#message .error {
	.alert-error;
}
#message .info {
	.alert-info;
}
@import "responsive.less";

.masthead h1 {
	text-align: center;
	padding:30px;
	font-weight: 300;
}
.masthead h2 {
	font-weight: 300;
	font-style: italic;
	text-align:right;
}

.masthead .btn-large {
	display:block;
	margin:10px 0; 
	width:85%;
}

.masthead .btn-info {
	margin-top: 50px;
}

hr.soften {
	height: 1px;
	margin: 54px 0;
	background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
	background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
	background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
	background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
	border: 0;
}


.offers h1 {
	margin: 36px 0 27px;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
}

.offers-byline {
	margin: -18px 0 27px;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	color: #999;
	text-align: center;
}
.thumbnail {

	.transition(all 1s ease-out 0s)
}
.thumbnail:hover {
	.box-shadow(0 0 9px rgba(0,0,0,0.5);
	.transition(all .1s ease-out 0s)
}

.features-menu{
	margin-left:-30px;
	clear:both;
}
.features-menu li{

	height: 230px;
	overflow: hidden;
	position: relative;
	float:left;
	background: #fff;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}

.features-menu li a{
	text-align: left;
	width: 100%;
	height: 100%;
	display: block;
	color: #333;
	position: relative;
}

.features-content{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 50%;
	top: 50%;
}
.features-main{
	font-size: 24px;
	font-weight:300;
	line-height: 1.1;
	opacity: 0.8;
	text-align: center;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
.features-sub{
	text-align:center;
	font-size: 14px;
	color: #666;
	position: absolute;
	bottom: 0px;
	line-height: 40px;
	width: 100%;
	left: 0px;
	opacity: 0.8;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
.features-menu li:hover{
	background-color: #000;
	z-index:999;
	-webkit-transform: scale(1.1);  
	-moz-transform: scale(1.1);  
	-ms-transform: scale(1.1);   
	-o-transform: scale(1.1);   
	transform: scale(1.1);  
}
.features-menu li:hover .features-icon{
	color: #fff;
	font-size: 90px;
	opacity:0.3;
}
.features-menu li:hover .features-icon#heart{
	-webkit-animation: smallToBig 900ms alternate infinite ease;
	-moz-animation: smallToBig 900ms alternate infinite ease;
	-ms-animation: smallToBig 900ms alternate infinite ease;
}
.features-menu li:hover .features-main{
	color: #fff;
	-webkit-animation: smallToBig 300ms ease;
	-moz-animation: smallToBig 300ms ease;
	-ms-animation: smallToBig 300ms ease;
}
.features-menu li:hover .features-sub{
	color: #fff;
	-webkit-animation: moveFromBottom 500ms ease;
	-moz-animation: moveFromBottom 500ms ease;
	-ms-animation: moveFromBottom 500ms ease;
}
@-webkit-keyframes smallToBig{
	from {
		-webkit-transform: scale(0.1);
	}
	to {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes smallToBig{
	from {
		-moz-transform: scale(0.1);
	}
	to {
		-moz-transform: scale(1);
	}
}
@-ms-keyframes smallToBig{
	from {
		-ms-transform: scale(0.1);
	}
	to {
		-ms-transform: scale(1);
	}
}

@-webkit-keyframes moveFromBottom {
	from {
		-webkit-transform: translateY(100%);
	}
	to {
		-webkit-transform: translateY(0%);
	}
}
@-moz-keyframes moveFromBottom {
	from {
		-moz-transform: translateY(100%);
	}
	to {
		-moz-transform: translateY(0%);
	}
}
@-ms-keyframes moveFromBottom {
	from {
		-ms-transform: translateY(100%);
	}
	to {
		-ms-transform: translateY(0%);
	}
}

#menucookin {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -20;
}	
.menucookin {
	padding-top :0;
	padding-bottom: 40px;
	overflow: hidden;
}

a.takemetotop {

display: block;
padding-top: 20px;
margin: auto;
width: 100px;
background: url("../img/takemetotop.png") center top no-repeat;	
text-align: center;
color: #222;

	}
div.footer {
	background-color: #181C1D;
	margin-top: 30px;

	}
	img.bike {
		margin-top: 38px;
		display: block;
		}
@media (min-width: 978px) {
	.menucookin {
		position: relative;
		padding-top: 300px;
		padding-left: 10px;
	}               
}   
.footer .social {

	border-right: 1px dashed #747474;
	margin-top: 30px;
	//padding-right: 50px;

	}
	
.footer .social a {
	color: #d3d7cf;
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    font-size: 18px;
    height: 34px;
	padding-top: 20px;
    padding-left: 40px;

    vertical-align: text-top;
    overflow: hidden;
}
.footer .social a.fb {
    background-image: url("../img/fb.png");
}
.footer .social a.twitter {
    background-image: url("../img//twitter.png");
}
.footer .social a.pin {
    background-image: url("../img/p.png");
}
.footer .social a.plus {
    background-image: url("../img/plus.png");
}

.footer .invite {
margin-top:18px;
//margin-left: 25px;
text-align: center;
	}
	.footer .invite h3 {
	color: #d3d7cf;
	font-style: italic;
	font-weight: 300;
	font-size: 28px;
	margin-bottom: 10px;
		}
		.footer .invite .help-block {
			font-size: 16px;
		}

.footer .form-submit {
    background-color: #606060;
    border: 1px solid #6F6B6B;
    	color: #d3d7cf;
}
.footer input {
    border-radius: 0 0 0 0;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 10px;
}
.footersecond {
margin-top: 20px;

.footlogo {
	margin-left: 29px;
	}
	
	}
.footer .footnav {
	margin-right: 66px;
margin-top: 10px;
	list-style: none;
	li {
		display: inline;
		
		a {
			color: #d3d7cf;
			padding: 15px 8px;
			font-weight: 700;
			font-size: 12px;
			}
		}
		
	}
	.footer .footerthird {

		p {
					border-top: solid 1px #747474;
padding-top: 10px;
		margin-right: 74px; 
		margin-left: 26px;
			font-size: 10px;
			margin-top: 10px;
			color:#d3d7cf;
			text-align: center;
			a {
				font-weight: bold;
				color:#fff;
				}	
			}
		}
	.footer .row {
		margin-left: 17px;
		}
		
		
.modal .modal-header h3 {
	text-align: center;
	}		
		