.imgTopInfo {
position: absolute;
bottom: 0;
left: 0;
width: 96%;
margin: auto;
padding: 3px 2%;
background: black;
background-color: rgba(0, 0, 0, 0.7);
color:#ddd;
}

.offers li {
position:relative;

}
#offers {
	float: right;
}

.navbar-inner {
	background: #fff;
}                             

.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret, .navbar .nav li.dropdown.open a:hover .caret {
 	border-top-color: #000;
	border-bottom-color: #000;
}

.navbar li {
	paddig: 10px;
}
