<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block pagetitle %}AbCent Sir{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Adhil Azeez NV" >

		<!-- le styles -->
		<!--		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet"> -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet/less" href="{{ STATIC_URL }}less/bootstrap.less">
		<script src="{{ STATIC_URL }}js/less-1.3.0.min.js"></script>
		<style>
		</style>
		{% block extrastyle %}{% endblock %}

		<!-- le html5 shim, for ie6-8 support of html5 elements -->
		<!--[if lt ie 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- le fav and touch icons -->
		<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
	</head>

	<body>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>

					<a class="brand" href="{% url home %}"><img src="{{ STATIC_URL }}img/logo.png" alt="abcent sir!" /></a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="divider-vertical"></li>
							<li class=""><a href="#">offers</a></li>
							<li class="dropdown">
							<a href="#"
								class="dropdown-toggle"
								data-toggle="dropdown">
								categories
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li class="nav-header">gadgets</li>
								<li><a href="#">computer</a></li>
								<li><a href="#">mobile phone</a></li>
								<li><a href="#">gaming consoles</a></li>
								<li class="divider"></li>
								<li class="nav-header">reading</li>
								<li><a href="#">books</a></li>
								<li><a href="#">magazine</a></li>
								<li class="divider"></li>
								<li class="nav-header">health care</li>
								<li><a href="#">health clubs</a></li>
								<li><a href="#">health products</a></li>
							</ul>
							</li>
							<li class="dropdown">
							<a href="#"
								class="dropdown-toggle"
								data-toggle="dropdown">
								brands
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li class="nav-header">electronics</li>
								<li><a href="#">apple inc</a></li>
								<li><a href="#">sony corp.</a></li>
								<li><a href="#">htc</a></li>
								<li class="divider"></li>
								<li class="nav-header">publications</li>
								<li><a href="#">the economist</a></li>
								<li><a href="#">pearson</a></li>
								<li class="divider"></li>
								<li class="nav-header">health care</li>
								<li><a href="#">healthmantra</a></li>
								<li><a href="#">yourtrainer</a></li>
							</ul>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
					<div class="btn-group pull-right">
                        {% block verify_button%}
                            {% if user.is_authenticated and not user.is_staff %}
                            {% if not user.get_profile.verified_as_student %}
                                {% if user.get_profile.applied_for_verification %}
                                   <a href="#" class="btn-warning btn disabled">Verification Pending</span>
                                    {% else %}
                                <a class="btn btn-info" href="{% url auth_verify_as_student %}">I am a Student, Verify Now</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% endblock %}
                        {% if user.is_staff %}
                         <a class="btn btn-danger" href="{% url abadmin_home %}">Admin Panel <i class="icon-wrench"></i></a>
                        {% endif %}
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user"></i> {% if not user.is_authenticated %} Not logged in{% else %}{{ username }}{% endif %}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% if user.is_authenticated %}
							<li><a href="{% url auth_edit_user_profile_redirect %}">My Profile <i class="icon-edit"></i></a></li>
							<li class="divider"></li>
							<li><a href="{% url auth_change_password userid=user.id %}">Change Password <i class="icon-key"></i></a></li>
							<li><a href="{% url auth_logout_user %}">Logout <i class="icon-signin"></i></a></li>

							{% else %}
							<li><a href="#login" data-toggle="modal">Login <i class="icon-signin"></i></a></li>
							<li class="divider"></li>
							<li><a href="#requestAnInvite" data-toggle="modal">Request an invite <i class="icon-group"></i></a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container mainBody">
			<div id="message">
				{% if messages %}
				{% for message in messages %}
				<div  class="alert {% if message.tags %}{{ message.tags }}{% endif %}"><button type="button" class="close" data-dismiss="alert">×</button>{{ message|safe }}</div>
				{% endfor %}
				{% endif %}
			</div>
			{% block body %}{% endblock %}
		</div>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="span2 ">
						<img class="bike" src="{{ STATIC_URL }}img/bike.png" />
					</div>
					<div class="span5 social ">
						<div class="row">
							<div class="span2">
								<a href="#" class="fb">Facebook</a>
								<a href="#" class="twitter">Twitter</a>
							</div>

							<div class="span2 ">
								<a href="#" class="plus">Google Plus </a>
								<a href="#" class="pin">Pinterest</a>
							</div>

						</div>
					</div>

					<div class="span4 invite ">
                        <form class="form-horizontal request invite" action="{% url auth_invite %}" method="post">{% csrf_token %}
							<h3>Request an Invite{% if user.is_authenticated %} for your friend{% endif %}!</h3>
							<input type="text" name="email" placeholder="Email" class="form-email" />
							<input type="submit" class="form-submit" value="Request!" />
							<span class="help-block">We will get you an invite ASAP!</span>
						</form>
					</div>

				</div>
				<div class="row footersecond">
					<div class="footlogo">
						<img src="{{ STATIC_URL }}img/footlogo.png" />
						<ul class="pull-right footnav">
							<li><a href="#">About</a></li>
							<li><a href="#">Community</a></li>
							<li><a href="#">Team</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>

				</div>
				<div class="row footerthird">
					<p>Proudly brought to you by <a href="http://www.pragmaticlearning.in">Pragmatic Learning Pvt. Ltd.</a></p>
				</div>
			</div>
		</div>
		<!-- Modal Windows
		================================================== -->
		<div id="requestAnInvite" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Hey Lucky You ! Just <span style="color:red;">ONE</span> seat Left. Come on In ;)</h3>
			</div>
			<div class="modal-body pagination-centered">
				<form class="form-horizontal" action="{% url auth_invite %}" method="post">{% csrf_token %}
					<div class="input-append ">
						<input size="16"  type="text" name="email" placeholder="email (student email preferably)" /><button class="btn btn-danger" type="submit">Request <i class="icon-arrow-right"></i></button>

					</div>
					<p class="help-block">Proxy, Not Allowed ;)</p>
				</form>
			</div>

		</div>

		<div id="login" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>AHA! Bunking Classes Again</h3>
			</div>
			<div class="modal-body pagination-centered">
				<form class="form-inline" method="post" action="{% url auth_login_user %}">{% csrf_token %}
					<input type="text" class="input-medium" name="username" placeholder="email or username">
					<input type="password" class="input-medium" name="password" placeholder="password">
					<button type="submit" class="btn">Login <i class="icon-signin"></i></button>
				</form>
				<p class="help-block">Don't have an AbCent Sir account?<a href="#requestAnInvite" data-toggle="modal" data-dismiss="modal"> Request for an invite here!</a>
                    <br>Forgot your password? <a href="{%  url auth_forgot_password %}">Click here to recover password</a>
                </p>
			</div>

			<div class="modal-footer">
				<a class="btn btn-primary btn-facebook" href="{% url socialauth_begin "facebook" %}"><i class="icon-facebook icon-large"></i> Facebook Login</a>
				<a class="btn btn-info" href="{% url socialauth_begin "linkedin" %}"><i class="icon-linkedin icon-large"></i> LinkedIn Login</a>

			</div>

		</div>
		{% block extramodal %}{% endblock %}





		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ STATIC_URL }}js/jquery.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.toggle.buttons.js"></script>
		{% block extrascript %}{% endblock %}

	</body>
</html>

