<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block pagetitle %}AbCent Sir{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Adhil Azeez NV">

    <!-- le styles -->
    <!--		<link href="css/bootstrap.css" rel="stylesheet">
         <link href="css/style.css" rel="stylesheet"> -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet/less" href="{{ STATIC_URL }}less/bootstrap.less">
    <script src="{{ STATIC_URL }}js/less-1.3.0.min.js"></script>
    <style type="text/css">
        .table thead th,.table tbody td {
            vertical-align: middle;
            text-align: center;
        }
        html,body {
            height:100%;
        }
        .wrapping {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -78px;
        }
        .push {
            heigh: 48px;
        }
        .mainBody {
            margin-top: 0;
            padding-top: 80px;
            min-height: 0;
        }
    </style>
    {% block extrastyle %}{% endblock %}

    <!-- le html5 shim, for ie6-8 support of html5 elements -->
    <!--[if lt ie 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

    <!-- le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
</head>

<body>
<div class="wrapping">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="{% url abadmin_home %}"><img src="{{ STATIC_URL }}img/logo.png" alt="abcent sir!"/> Admin Panel</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li class=""><a href="{% url abadmin_show_email_lists %}">Email Lists</a></li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            Verifications
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url abadmin_email_based_verification %}">Email Based Verifications</a></li>
                            <li><a href="{% url abadmin_idcard_based_verification %}">ID Based Verifications</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url abadmin_rejected_verification_requests %}">Rejected Verification Requests</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            Offers
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">

                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <div class="btn-group pull-right">
                <a class="btn btn-inverse" href="{% url admin:index %}"><i class="icon-cog"></i> Django Administration</a>
                <a class="btn btn-success" href="{% url home %}">Back to Website <i class="icon-arrow-right"></i> </a>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {% if not user.is_authenticated %} Not logged
                    in{% else %}{{ username }}{% endif %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <li><a href="{% url auth_edit_user_profile_redirect %}">My Profile <i class="icon-edit"></i></a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url auth_change_password userid=user.id %}">Change Password <i
                                class="icon-key"></i></a></li>
                        <li><a href="{% url auth_logout_user %}">Logout <i class="icon-signin"></i></a></li>
                    {% else %}
                        <li><a href="#login" data-toggle="modal">Login <i class="icon-signin"></i></a></li>
                        <li class="divider"></li>
                        <li><a href="#requestAnInvite" data-toggle="modal">Request an invite <i class="icon-group"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container mainBody">
    <div id="message">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message|safe }}</div>
            {% endfor %}
        {% endif %}
    </div>
    {% block body %}{% endblock %}
</div>
    <div class="push"></div>
</div>
<div class="footer">
    <div class="row footerthird">
        <p>Proudly brought to you by <a href="http://www.pragmaticlearning.in">Pragmatic Learning Pvt. Ltd.</a></p>
    </div>
</div>
<!-- Modal Windows
        ================================================== -->
{% block extramodal %}{% endblock %}


<!-- Le javascript
        ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
<script src="{{ STATIC_URL }}js/jquery.toggle.buttons.js"></script>
{% block extrascript %}{% endblock %}

</body>
</html>

