{% extends "base.html" %}
{% block body %}
<div class="masthead">
	<div class="row toprow ">
		<div class="span6 offset1">
			<img src="{{ STATIC_URL }}img/banner.png" />
		</div>
		<div class="span3 offset1">
		{% if not user.is_authenticated %}
			<a class="btn btn-info btn-large" href="#login" data-toggle="modal">Login <i class="icon-signin icon-large"></i></a>
			<a class="btn btn-danger btn-large" href="#requestAnInvite"  data-toggle="modal">Request an invite <i class="icon-group icon-large"></i></a>
		{% endif %} 
			<p> <strong>AbcentSir.com</strong> is an online community for students to hangout. Students gets exclusive offers, discounts, gyan and much more! </p>
			<p class="serif lead">free hai kaafi fati hain, thoda time lag sakta hai</p>
			<p>Request for your invite today itself!</p>
		</div>
	</div>

</div>

<div class="offers">				


	<h1>Buy Something?</h1>
	<p class="offers-byline">Exclusive Student Offers Handpicked for You Guys</p>


	<ul class="thumbnails offers">



		<li class="span3">
		<div class="thumbnail">
			<a href="#">
				<img src="http://lorempixel.com/300/200/technics/?1" />
			</a>
			<div class="caption">
				<h5>Offer Name</h5>
				<p> A brief Description</p>
				<p><a href="#" class="btn btn-info"><i class="icon-check"></i> I'm Interested!</a><a href="#" class="btn pull-right">Learn More</a></p> 
				<div style="clear:both;"></div>
			</div>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#">
				<img src="http://lorempixel.com/300/200/technics/?2" />
			</a>
			<div class="caption">
				<h5>Offer Name</h5>
				<p> A brief Description</p>
				<p><a href="#" class="btn btn-info"><i class="icon-check"></i> I'm Interested!</a><a href="#" class="btn pull-right">Learn More</a></p> 
				<div style="clear:both;"></div>
			</div>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#">
				<img src="http://lorempixel.com/300/200/technics/?3" />
			</a>
			<div class="caption">
				<h5>Offer Name</h5>
				<p> A brief Description</p>
				<p><a href="#" class="btn btn-info"><i class="icon-check"></i> I'm Interested!</a><a href="#" class="btn pull-right">Learn More</a></p> 
				<div style="clear:both;"></div>
			</div>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#">
				<img src="http://lorempixel.com/300/200/technics/?4" />
			</a>
			<div class="caption">
				<h5>Offer Name</h5>
				<p> A brief Description</p>
				<p><a href="#" class="btn btn-info"><i class="icon-check"></i> I'm Interested!</a><a href="#" class="btn pull-right">Learn More</a></p>
				<div style="clear:both;"></div>
			</div>
		</div>
		</li>

		<li class="span3">
		<div class="thumbnail">
			<a href="#">
				<img src="http://lorempixel.com/300/200/technics/?5" />
			</a>
			<div class="caption">
				<h5>Offer Name</h5>
				<p> A brief Description</p>
				<p><a href="#" class="btn btn-info"><i class="icon-check"></i> I'm Interested!</a><a href="#" class="btn pull-right">Learn More</a></p> 
				<div style="clear:both;"></div>
			</div>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#">
				<img src="http://lorempixel.com/300/200/technics/?6" />
			</a>
			<div class="caption">
				<h5>Offer Name</h5>
				<p> A brief Description</p>
				<p><a href="#" class="btn btn-info"><i class="icon-check"></i> I'm Interested!</a><a href="#" class="btn pull-right">Learn More</a></p> 
				<div style="clear:both;"></div>
			</div>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#">
				<img src="http://lorempixel.com/300/200/technics/?7" />
			</a>
			<div class="caption">
				<h5>Offer Name</h5>
				<p> A brief Description</p>
				<p><a href="#" class="btn btn-info"><i class="icon-check"></i> I'm Interested!</a><a href="#" class="btn pull-right">Learn More</a></p> 
				<div style="clear:both;"></div>
			</div>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#">
				<img src="http://lorempixel.com/300/200/technics/?8" />
			</a>
			<div class="caption">
				<h5>Offer Name</h5>
				<p> A brief Description</p>
				<p><a href="#" class="btn btn-info"><i class="icon-check"></i> I'm Interested!</a><a href="#" class="btn pull-right">Learn More</a></p> 
				<div style="clear:both;"></div>
			</div>
		</div>
		</li>
	</ul>
	<hr class="soften" />
	<h1>Feeling WhACKED out !</h1>
	<p class="offers-byline">Need Gyan, Guidance, Support, Counseling. Cheer Up Mate, GirlFriend is Here</p>  
	<ul class="features-menu">
		<li class="span2 ">
		<a href="#">
			<span class="features-icon"></span>
			<div class="features-content">
				<h2 class="features-main">Knowledge Center</h2>
			</div>
		</a>
		</li>
		<li class="span2 ">
		<a href="#">
			<span class="features-icon"></span>
			<div class="features-content">
				<h2 class="features-main">Career Guidance<h2>
					</div>
				</a>
				</li>     
				<li class="span2">

				<a href="#">                                      
					<span class="features-icon"></span>
					<div class="features-content">
						<h2 class="features-main">Student Support<h2>
							</div>
						</a>
						</li>
						<li class="span2">

						<a href="#">
							<span class="features-icon"> </span>
							<div class="features-content">
								<h2 class="features-main">Student Counseling</h2>
							</div>
						</a>
						</li>
						<li class="span2">

						<a href="#">
							<span class="features-icon"></span>
							<div class="features-content">
								<h2 class="features-main">Friends Corner</h2>
							</div>
						</a>
						</li>
						<li class="span2">

						<a href="#">
							<span class="features-icon"></span>
							<div class="features-content">
								<h2 class="features-main">MORE!</h2>
							</div>
						</a>
						</li>


					</ul>
					<div class="clearfix"></div>
					<hr class="soften" />
					<h1>Have FUN!</h1>
					<p class="offers-byline">Aish Karna Hai Kya? Chalo Shuru Ho Jao Oye</p>
					<div class="row">
						<div class="span2">
							<img src="{{ STATIC_URL }}img/mascot.png" style="display:block;margin:auto;" />
						</div>
					</div>
					<hr class="soften" />
					<div class="menucookin span11">
						<img id="menucookin" class="visible-desktop" src="{{ STATIC_URL }}img/menucookinbg.png" />
						<div class="row">
							<div class="span3 offset1">
								<h3><i class="icon-bullhorn icon-large"></i>Comming Soon Item</h3>
								<p>This is a sample description of a comming soon item</p>    
							</div>
							<div class="span3">

								<h3><i class="icon-bullhorn icon-large"></i>Comming Soon Item</h3>
								<p>This is a sample description of a comming soon item</p>    
							</div>
							<div class="span3">
								<h3><i class="icon-bullhorn icon-large"></i>Comming Soon Item</h3>
								<p>This is a sample description of a comming soon item</p>   
							</div>

						</div>
						<div class="row">
							<div class="span3 offset1">
								<h3><i class="icon-bullhorn icon-large"></i>Comming Soon Item</h3>
								<p>This is a sample description of a comming soon item</p>   
							</div>
							<div class="span3">
								<h3><i class="icon-bullhorn icon-large"></i>Comming Soon Item</h3>
								<p>This is a sample description of a comming soon item</p>   
							</div>
							<div class="span3">
								<h3><i class="icon-bullhorn icon-large"></i>Comming Soon Item</h3>
								<p>This is a sample description of a comming soon item</p>   
							</div>
						</div>
						<div class="row">
							<div class="span3 offset1">
								<h3><i class="icon-bullhorn icon-large"></i>Comming Soon Item</h3>
								<p>This is a sample description of a comming soon item</p>   
							</div>
							<div class="span3">
								<h3><i class="icon-bullhorn icon-large"></i>Comming Soon Item</h3>
								<p>This is a sample description of a comming soon item</p>   
							</div>
							<div class="span3">
								<h3><i class="icon-bullhorn icon-large"></i>Comming Soon Item</h3>
								<p>This is a sample description of a comming soon item</p>   
							</div>
						</div>
					</div>

				</div>

				<div class="span12" style="margin:0;">
					<br />
					<a href="#" class="takemetotop">take me to top!</a>
				</div>	
				{% endblock %}

