{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | Thanks!{% endblock %}

{% block extrastyle %}
    <style type="text/css"><!--
    .marginbot {
        margin-bottom: 20px;
    }

    --></style>
{% endblock %}

{% block extrascript %}
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");</script>
{% endblock %}

{% block body %}

    <div class="row">
    <div class="span5 offset1">
        <p class="lead">Come On. Get ready for College</p>

        <p>Your Invitation will reach you soon.</p>

        <div class="row">
            <div class="span3">
                <img src="{{ STATIC_URL }}img/mascot_graduate.png" style="display:block;margin:auto;"/>
            </div>
        </div>
        </div>
        <div class="span6">
            <p class="lead">Go On. Tell your Friends about Me.</p>

            <p>I don’t mind, I am shameless</p>

            <div class="row">
                <div class="span3">
                    <img src="{{ STATIC_URL }}img/mascot.png" style="display:block;margin:auto;"/>
                </div>
                <div class="span3">
                    <div id="spread" style="margin-top:80px;">
                        <div class="row marginbot">
                            <div class="fb-like" data-href="http://www.abcentsir.com" data-send="true"
                                 data-layout="button_count" data-width="450" data-show-faces="true"
                                 data-action="recommend"></div>
                        </div>
                        <div class="row marginbot">
                            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                            <script type="IN/Share" data-url="http://www.abcentsir.com" data-counter="right"></script>
                        </div>
                        <div class="row marginbot">
                            <a href="https://twitter.com/share" class="twitter-share-button"
                               data-url="http://www.abcentsir.com"
                               data-text="Have you marked your attendance at AbCent Sir?!">Tweet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
