{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | Request Invite{% endblock %}

{% block body %}
<div class="toprow">
	<p class="lead">Thanks for showing interest in joining AbCent Sir! </p>
	<p>Please fill in your email address and we will get back to you :)</p>
</div>
<div class="row">
	<div class="span6">
		{% crispy form %}
	</div>
	<div class="span4 offset1">
		<h3>
			Why should I join AbCent Sir!
		</h3>
		<ul>
			<li>Exclusive offers for students!</li>
			<li>Like minded students!</li>
			<li>Colloborate and learn!</li>
		</ul>

	</div>
</div>
{% endblock %} 
