{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | Create Account{% endblock %}

{% block body %}
    <div class="toprow">
        <p class="lead">Fundoo, You are on a Roll</p>
    </div>
    <div class="row">
        <div class="span6">
            {% crispy form %}
        </div>
        <div class="span1">
            <div class="divider"><span>or</span></div>
        </div>
        <div class="span4 ">
            <legend>Register with your social accounts</legend>
            <div class="center">
                <a class="btn btn-primary btn-facebook btn-large" href="{% url socialauth_begin "facebook" %}"><i
                        class="icon-facebook icon-large"></i> Connect with Facebook</a> <br/> <br/>
                <a class="btn btn-info " href="{% url socialauth_begin "linkedin" %}"><i class="icon-linkedin "></i>
                    Connect with LinkedIn</a> <br/><br/>
            </div>
        </div>
    </div>
{% endblock %}

{% block extramodal %}
    <div id="ToS" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Terms & Conditions</h3>
        </div>
        <div class="modal-body pagination-centered">
            <p>This block of text will be replaced by the Terms and Conditions</p>
        </div>

        <div class="modal-footer">
            <a class="btn btn-info" data-dismiss="modal"><i class="icon-close icon-large"></i>Okay</a>
        </div>
    </div>

    <div id="Privacy" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Privacy Policy</h3>
        </div>
        <div class="modal-body pagination-centered">
            <p>This block of text will be replaced by the Privacy Policy</p>
        </div>

        <div class="modal-footer">
            <a class="btn btn-info" data-dismiss="modal"><i class="icon-close icon-large"></i>Okay</a>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#ToSCB').change(function () {
                $('#submit-id-create_account').attr('disabled', !$(this).is(':checked'));
            });
        });
    </script>
{% endblock %}