{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | My Profile{% endblock %}


{% block extrascript %}

    <script type="text/javascript">
        $(document).ready(function () {
            /*		$.ajax({
             type: "GET",
             url: "
            {% url ajax_colleges %}",
             dataType: "text",
             success : function(data) {
             $('#id_college').attr('data-source',data);
             $('#id_college').attr('data-provide','typeahead');
             $('#id_college').attr('data-items','5');
             $('.typeahead').typeahead();
             }
             });*/
            $('#share-toggle-button').toggleButtons({
                style:{
                    enabled:"info"
                },
                label:{
                    enabled:"On",
                    disabled:"Off"
                }
            });


            if ($('#id_status').val() == "1" || $('#id_status').val() == "2"   ) {
                $('#div_id_status .controls').append('<input type="submit" name="verify" value="Verify Now" class="btn btn-info" id="verifynowbtn">');
            }
        });
    </script>
{% endblock %}

{% block body %}
    <div class="toprow">
        <p class="lead">Edit your profile</p>
    </div>
    <div class="row">
        <div class="span6">
            {% crispy form %}
        </div>
        <div class="span5 offset1">
            <div class="center imageform">
            {% crispy image_form %}
                <br><br><br>
                {% if 'facebook' in social_auth.not_associated %}
                    <a class="btn btn-primary btn-facebook btn-large" href="{% url socialauth_begin "facebook" %}"><i
                            class="icon-facebook icon-large"></i> Connect with facebook</a> <br/> <br/>
                {% endif %}
                {% if 'linkedin' in social_auth.not_associated %}
                    <a class="btn btn-info" href="{% url socialauth_begin "linkedin" %}"><i class="icon-linkedin"></i>
                        Connect with linkedin</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
