{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | Forgot Password{% endblock %}

{% block body %}
    <div class="toprow">

    </div>
    <div class="row">
        {% if error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ error|safe }}</div>
        {% endif %}
        <div class="span6">
            <p class="lead">So you forgot it! Dummy!</p>
            <p>Please enter your email with which you registered with AbCentSir. We'll send you an email with a one-time Reset Password link.</p>
            {% crispy form %}
        </div>
        <div class="span4 offset1 ">
            <h3>
                Tips to secure your account
            </h3>
            <ul>
                <li>If your password only contains letters or only numbers, please read this <a
                        href="http://en.wikipedia.org/wiki/Password_strength">wikipedia article</a> on password strength
                    and consider changing it.
                </li>
                <li>Avoid disclosing your password and logging in from potentially infected computers</li>
                <li>To avoid becoming a victim of phishing, always verify that you are viewing AbCent Sir's Login page
                </li>
            </ul>

        </div>
    </div>
{% endblock %}