{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | Login{% endblock %}

{% block body %}
    <div class="toprow">

    </div>
    <div class="row">
        {% if error %}
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                Good Morning. Not getting enough sleep – is it? Please Login again.</div>
        {% endif %}
        <div class="span6">
            {% crispy form %}
            <h3>
                Tips to secure your account
            </h3>
            <ul>
                <li>If your password only contains letters or only numbers, please read this <a
                        href="http://en.wikipedia.org/wiki/Password_strength">wikipedia article</a> on password strength
                    and consider changing it.
                </li>
                <li>Avoid disclosing your password and logging in from potentially infected computers</li>
                <li>To avoid becoming a victim of phishing, always verify that you are viewing AbCent Sir's Login page
                </li>
            </ul>
        </div>
        <div class="span1">
            <div class="divider"><span>or</span></div>
        </div>
        <div class="span4 ">
            <legend>Login with your social accounts</legend>
            <div class="center">
                <a class="btn btn-primary btn-facebook btn-large" href="{% url socialauth_begin "facebook" %}"><i
                        class="icon-facebook icon-large"></i> Login with Facebook</a> <br/> <br/>
                <a class="btn btn-info" href="{% url socialauth_begin "linkedin" %}"><i class="icon-linkedin "></i>
                    Login with LinkedIn</a> <br/><br/>

                <p class="lead">Don't have an AbCent Sir account?<a href="#requestAnInvite" data-toggle="modal"
                                                                    data-dismiss="modal"> Request for an invite
                    here!</a></p>
                <br/>
            </div>

        </div>
    </div>
{% endblock %}
