{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block pagetitle %}AbCent Sir | Verify my account{% endblock %}


{% block extrascript %}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#idVerTosCB').change(function () {
                $('#submit-id-id_card_verification').attr('disabled', !$(this).is(':checked'));
            });

            $('#emailVerTosCB').change(function () {
                $('#submit-id-email_verification').attr('disabled', !$(this).is(':checked'));
            });
            $.ajax({
                type:"GET",
                url:"{% url ajax_colleges %}",
                dataType:"text",
                success:function (data) {
                    $('.college').attr('data-source', data);
                    $('.college').attr('data-provide', 'typeahead');
                    $('.college').attr('data-items', '5');
                    $('.typeahead').typeahead();
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="toprow">
        <p class="lead">Verify your Student Identity, just ONCE. Become eligible for all Student Benefits </p>
    </div>
    <div class="row">
        <div class="span5">
            {% crispy email_form %}
        </div>
        <div class="span2">
            <div class="divider"><span>or</span></div>
        </div>
        <div class="span5">
            {% crispy id_card_form %}
        </div>


    </div>
    <div class="row">
        <div class="span5 offset7">
            <p class="lead" style="font-weight:bold;text-align: center;">I will do this later</p>
            <form class="form-horizontal" method="post" action="">{% csrf_token %}
                <input name="verify_later" type="submit" class="btn btn-info" value="I am a Student, Verify Later"/>
                <input name="not_student" type="submit" class="btn  pull-right" value="I am Not a student, Skip Verification"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block extramodal %}
    <div id="studentToS" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Student Terms & Conditions</h3>
        </div>
        <div class="modal-body pagination-centered">
            <p>This block of text will be replaced by the Student Terms and Conditions</p>
        </div>

        <div class="modal-footer">
            <a class="btn btn-info" data-dismiss="modal"><i class="icon-close icon-large"></i>Okay</a>
        </div>

    </div>
{% endblock %}

{% block verify_button %}
{% endblock %}