{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% include page_template %}

<script type="text/javascript" charset="utf-8">
    var endless_on_scroll_margin = 20;
</script>
